node_modules

# Windows system directories
AppData/
AppData/*
Downloads/
Music/
Videos/
Contacts/
Favorites/
Links/
Searches/
OneDrive/
Saved Games/
.cache/
.config/
.docker/
.expo/
.n8n/
.ollama/
.thinkorswim/
.vscode/
.codex/
.claude/
.continue/
.flowise/
.gemini/

# Windows system files
NTUSER.DAT*
ntuser.dat*
*.ini
desktop.ini

# Project specific
PycharmProjects/
android/
flowise-local/
test-results/

# Other
.bash_history
.lesshst
.node_repl_history
.gitconfig
package*.json
pnpm-lock.yaml
client_email
const
project_id
type
*.log
*.odl
